<!--Written by Surendra Panday, 19/08/2019-->
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @{
        ViewBag.Title = "register as a new user";
    }
    <!-- Material form register - learn more from https://mdbootstrap.com/docs/jquery/forms/basic/ -->
    <!-- Material form register -->

    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Contact us</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">

            <form class="md-form" style="color: #757575;">


                <label for="materialContactFormName">Name</label>
                <input type="text" id="materialContactFormName" class="form-control">

                <label for="materialContactFormEmail" placeholder="Your Email">E-mail</label>
                <input type="email" id="materialContactFormEmail" class="form-control">


                <div>
                    <select class="mdb-select" id="materialSelect">
                        <option value="" disabled selected>Feedback</option>
                        <option value="1">Enquiry</option>
                        <option value="2">Compliment</option>
                        <option value="3">Suggestions</option>
                    </select>
                    <label for="materialSelect">Subject</label>
                </div>

                <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                <label for="materialContactFormMessage">Message</label>
                <!--
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                        <label class="form-check-label" for="materialContactFormCopy" style="margin: 0; padding: initial">Send me a copy </label>
                    </div>   -->
                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">Send me a copy of this message</label>
                </div>

                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

            </form>
        </div>
    </div>
